<h2>Inicio de sesion</h2>
<%= form_for(:session, url: sessions_path, class:"form-horizontal") do |f|%>
<div class="control-group">
    <%= f.label "Correo electronico", class:"control-label", for:"inputEmail"%>
    <div class="controls">
        <%= f.text_field :email, id:"inputEmail", placeholder:"ejemplo@gmail.com" %>
    </div>
</div>
<div class="control-group">
    <%= f.label "Contrasena", class:"control-label", for:"inputPassword" %>
        <div class="controls">
            <%= f.password_field :password, id:"InputPassword",
                placeholder:"********" %>
        </div>
</div>
<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox"> Recordar Contrasena
        </label>
        <%= f.submit "Iniciar sesion", class: "btn medium" %>
    </div>
</div>
<% end %>

