<% provide(:title, 'Nueva dependencia') %>
<div class="row">
    <div class="span6 offset3">
        <%= form_for(@dependency) do |f| %>
        <%= render 'shared/error_dependency_messages'%>
        <h2> Nueva dependencia </h2>

        <%= f.label "Nombre" %>
        <%= f.text_field :name %>

        <%= f.label "Tipo de administracion" %>
        <%= f.collection_select :type_of_administration_id, 
            TypeOfAdministration.all, :id, :name, :prompt =>
        "Seleccione el tipo de administracion" %>

        <%= f.fields_for :dependency_address do |builder| %>
        
        <%= builder.label "Calle" %>
        <%= builder.text_field :street %>

        <%= builder.label "Numero" %>
        <%= builder.text_field :number %>

        <%= builder.label "Colonia" %>
        <%= builder.text_field :colony %>
        
        <%= builder.label "Codigo postal" %>
        <%= builder.text_field :postalcode %>
        
        <%= builder.label "Cuidad" %>
        <%= builder.select :city, municipalities %>
        
        <% end %>

        <%= f.submit "Crear dependencia", class:"btn btn-large
        btn-primary" %>

        <% end %>
    </div>
</div>
