<% provide(:title, 'Creando nuevo programa') %>
<div class="row">
    <div class="span6 offset3">
        <%= form_for(@program) do |f| %>
        <%= render 'shared/error_program_messages' %>
        
        <h2> Nuevo programa </h2>
        
        <%= f.label "Nombre" %>
        <%= f.text_field :name %>
        
        <%= f.label "Descripcion" %>
        <%= f.text_area :description, rows:"3" %>
        
        <%= f.label "Cantidad de vacantes" %>
        <%= f.number_field :quantity_of_students, class:"span1", in:
        1..20, value:"0", style:"height:100%;" %>
        
        <%= f.label "Turno" %>
        <%= f.collection_select :turn_id,
            Turn.all, :id, :name, :prompt =>
        "Seleccione el turno" %>
        
        <br/>

        <p>
        <%= f.label "Seleccione las habilidades del vacante" %>
        <div class="small muted">
            <% Skill.all.each do | skill | %>
            <label class="li">
                <%= check_box_tag :skill_ids, skill.id, false, :name =>
                'skills[]' %> 
                <u>
                    <%= skill.name%>
                </u>
            </label><br />
            
            <% end %>
            
        </div>
        </p>
        
        <p>
        <%= f.label "Seleccione las aptitudes que desea que los
        vacantes tengan:" %>
        <div class="small muted">
            <% Aptitude.all.each do | aptitude | %>
            <label class="li">
                <%= check_box_tag :aptitude_ids, aptitude.id, false, :name =>
                'aptitudes[]' %> 
                <u>
                    <%= aptitude.name%>
                </u>
            </label><br />

            <% end %>
        </div>
        </p>
        <%= f.submit "Crear programa", class:"btn btn-large btn-primary" %>        
        <br/>
        
        <% end %>
    </div>
</div>
